<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historical Data of Top Cryptocurrencies</title>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <!-- Header -->
    <h1 class="text-3xl font-bold mb-6">Historical Data of Top Cryptocurrencies</h1>

    <!-- Form Wrapper -->
    <div class="w-full sm:w-1/2 border border-gray-300 rounded-lg p-6">
      <!-- Form -->
      <form action="/market-data/historyData/{{selectedCrypto}}" method="GET" class="space-y-4">
        <div class="flex items-center">
          <div class="w-full">
            <label for="cryptoSelect" class="block text-sm font-medium text-gray-700">Select cryptocurrency:</label>
            <select id="cryptoSelect" name="selectedCrypto" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              {{#each cryptocurrencies}}
                <option value="{{crypto_id}}">{{crypto_id}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="w-full mt-4">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 block w-full sm:w-auto">Submit</button>
        </div>
      </form>
    </div>
    <div class="mt-8">
      <a href="/app/home" class="text-blue-500 hover:underline">Back to Home</a>
    </div>

  </div>
</body>
</html>
